@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[rgb(3,2,10)] text-[#cbdce3] tracking-wide text-slate-400
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold font-Saira
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }

    h2{
        @apply text-3xl sm:text-4xl
    }

    h3{
        @apply text-xl sm:text-2xl
    }

    p{
        @apply font-Saira py-2 text-lg
    }

    li {
        @apply cursor-pointer font-Saira
    }

    button{
        @apply shadow-xl uppercase bg-gradient-to-r from-[#7a818d] to-[#e8f0f5]
    }
    .darkbackground {
        @apply bg-[rgb(3,2,10)]
    }

    .hovereffect {
        @apply shadow-md shadow-slate-500/30 border-2 border-transparent border-r-slate-800 border-b-slate-800 hover:border-2 hover:border-slate-600 hover:scale-95 hover:transition duration-300 ease-out 
    }
    .link-underline {
		border-bottom-width: 0;
		background-image: linear-gradient(transparent, transparent), linear-gradient(#cbdce3, #cbdce3);
		background-size: 0 3px;
		background-position: 0 100%;
		background-repeat: no-repeat;
		transition: background-size .2s ease-in-out;
	}

	.link-underline-white {
		background-color: linear-gradient(transparent, transparent), linear-gradient(#cbdce3, #cbdce3)
	}

	.link-underline:hover {
		background-size: 100% 3px;
		background-position: 0 100%
	}
}